.container{
    text-align-last: center;
    text-align: center;
    color: rgb(226, 12, b12);
}
body{
    background-image: url(https://www.teahub.io/photos/full/1-10978_1920x1080-download-pc-wallpapers-hd-desktop-wallpaper-space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
    div.example {
      display: none;
    }
    .row{
    display: block;
    flex-direction: row;
    justify-content: space-around;
    }