body{
    background-image: url(https://cdn.wallpapersafari.com/64/11/YT8SFn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    font-size: 20px;
    text-align-last: center;
    color: rgb(226, 12, 12);
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.lc{
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 600px) {
    div.example {
      display: none;
    }
    .row{
    display: block;
    flex-direction: row;
    justify-content: space-around;
    }
    
}
.ims:hover{
    box-shadow: 10px 10px 30px 30px rgb(2, 164, 170);
    border-radius: 50%;
    transform: rotateY(360deg);
    transition: 1s ease;
    background-color: rgb(224, 224, 217);
}
.iph:hover{
    background-color: green;
    color: white;
}
.item{
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
}
.items a{
    text-decoration: none;
    color: beige;
}

.items{
    margin-top: 20px;
    font-size: 54px;
}

.items a:hover{
    background-color:firebrick;
    color: white;
}